<form [formGroup]="hairForm" (ngSubmit)="onSubmit()"  class="mat-form">

  <mat-form-field appearance="outline" class="form-field" disabled [appFocus]="'green'">
    <mat-label>ID</mat-label>
    <input matInput type="number" formControlName="id" matTooltip=" add an id " />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field" [appFocus]="'green'">
    <mat-label>Hair Name</mat-label>
    <input matInput type="text" formControlName="hairName" appAutoFocus  matTooltip=" add hair name "/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field" [appFocus]="'green'">
    <mat-label>Hair Type</mat-label>
    <input matInput type="text" formControlName="hairType" appAutoFocus  matTooltip=" add hair type " />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field" [appFocus]="'green'">
    <mat-label>Hair Texture</mat-label>
    <input matInput type="text" formControlName="hairTexture" appAutoFocus  matTooltip=" add hair texture "/>
  </mat-form-field>

  <mat-checkbox formControlName="isAdmin" matTooltip=" check if neeeded " class="color">Hair Color</mat-checkbox>


  <div class="form-buttons">
    <button type="button" (click)="onAdd()" class="btn add-btn">Add</button>
    <button type="button" (click)="onUpdate()" class="btn update-btn">Update</button>
  </div>

</form>
