<form [formGroup]="hairForm" (ngSubmit)="onSubmit()" class="hair-form">

  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" formControlName="id" class="form-input" />
  </div>

  <div class="form-group">
    <label for="hairName">Hair Name</label>
    <input type="text" id="hairName" formControlName="hairName" class="form-input" />
  </div>

  <div class="form-group">
    <label for="hairType">Hair Type</label>
    <input type="text" id="hairType" formControlName="hairType" class="form-input" />
  </div>

  <div class="form-group">
    <label for="hairTexture">Hair Texture</label>
    <input type="text" id="hairTexture" formControlName="hairTexture" class="form-input" />
  </div>

  <div class="form-group">
    <label for="color" class="checkbox-label">Hair Color</label>
    <input type="checkbox" id="color" formControlName="color" class="form-checkbox" />
  </div>

  <div class="form-buttons">
    <button type="button" (click)="onAdd()" class="btn add-btn">Add</button>
    <button type="button" (click)="onUpdate()" class="btn update-btn">Update</button>
  </div>

</form>
